<h1>Welcome, <%= @user.username %></h1>
<h3>Your Tweets:</h3> 
  <% @tweets.each do |tweet| %>
    <h4>Tweet: <%= tweet.content %></h4>
    <p><a href="/tweets/<%= tweet.id %>">More details</a></p>
    <h5> <%= @user.username %></h5>
  <% end %>
  <a href="/logout"><button>Log Out</button></a>
</div>