<li><%= @tweet.content %></li><br> 

    <form action="/tweets/<%= @tweet.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch"> 
    <input type="submit" value="Edit Tweet"> 
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Tweet"> 
</form> 