<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Fwitter</title>
  </head>

  <body>
    <nav>
      <ul> 
        <% if logged_in? %> 
          <a href="/tweets"><li>Tweets</li></a>
          <a href="/logout"><li>Logout</li></a>
        <% else %> 
          <a href="/signup"><li>Sign Up</li></a>
          <a href="/login"><li>Login</li></a>
        <% end %>
      </ul>
    </nav>
    <%= yeild %>  
  </body>

</html>
